/* Blue Color Scheme */

a { 
	color: #5d9cec; 
}
.entry-title > a:hover,
.zp_masonry_title a:hover, 
.portfolio_detail_title > a:hover, 
.entry-content h2 a:hover, 
.zp_masonry_link_title a:hover, 
.zp_masonry_title a:hover, 
.zp_masonry_link_title a:hover,
.related-list a:hover,
.bottom-widget .widget_nav_menu ul li a:hover,
.navbar .nav > li > a:hover, 
.navbar .nav > li > a:focus,
.navbar .nav ul a:hover,
.zp_masonry_content .btn.btn-sm.btn-default:hover, 
.zp_masonry_content .btn.btn-sm.btn-default:focus, 
.zp_masonry_content .btn.btn-sm.btn-default:active,
.circle i {
	color: #5d9cec;
}
.page_header h1:after,
.featured-desc h3:after, 
.zp_team .caption > h3:after,
.entry-header > i:before,
#top-link i:hover {
    background:  #5d9cec;
}
.jp-play-bar, .jp-volume-bar-value {
	background: #5d9cec;
}
.option-set a.active, 
.option-set a:hover,
.btn-inverse  {
    background-color: #5d9cec;
    border-color: #5d9cec;
}
.btn-inverse.btn-outline {
	color: #fff;
}
a.btn-inverse.btn-outline:hover {
	background: rgba(0, 0, 0, 0);
	color: #5d9cec !important;
	border-color: #5d9cec;
}
.btn.btn-default.btn-outline {
	color: #5d9cec;
	border-color: #5d9cec;
}
.btn-default:hover.btn-outline {
	color: #fff;
}
.circle {
	border-color: #5d9cec;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .featured-box:hover > .circle,
.more-link:hover, #subbutton:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .entry-content .button:hover,
.archive-pagination li a:hover, .archive-pagination .active a {
    background-color:  #5d9cec;
    border-color:  #5d9cec;
    color: #ffffff;
}
.hover_icon a, .single_portfolio_gallery .portfolio_icon_class i, .single_portfolio_image .portfolio_icon_class i,
.single_portfolio_image .portfolio_icon_class.portfolio_icon_link i {
	background-color: #5d9cec;
}